@charset="utf-8"
html,
body{height: 100%; overflow: hidden;}

.music {position: fixed;top: 3vh;right: 4vw;z-index: 15;width: 15vw;height: 15vw;border: 4px solid #ef1639;border-radius: 50%;}
.music > img:first-of-type{position: absolute;top:24%;right: 2.5%;z-index:1;width: 28.421%;}
.music > img:last-of-type{position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;width: 79%;z-index: 0;}
.music > img.play{
	-webkit-animation: music_disc 4s linear infinite;
	-o-animation: music_disc 4s linear infinite;
	animation: music_disc 4s linear infinite;
}
@-wekit-keyframes music_disc {
	0%{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes music_disc {
	0%{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* page bg */
.page{position: absolute;width: 100%;height: 100%}
.page > .bg{position: absolute;z-index: -1;width: 100%;height: 100%; }

/*  page1  */
#page1{display: block;
    -webkit-transition: .5s;
	        transition: .5s;
}
#page1 > .bg{}
#page1.fadeOut {
    opacity: .5;
	-webkit-transform: translate(0,-100%);
	        transform: translate(0,-100%);
}
#page1 > .p1_words{
	color: #fff;
	position: absolute;
	top: -4.5%;
	right: 0;
	left: 0;
	margin: auto;
	width: 55vw;
	height: 71.2vh;
	font-size: 3.506rem;padding-top: 31vh;
	text-align: center;
	-wekit-box-sizing: border-box; 
	  -moz-box-sizing: border-box;   
	   box-sizing: border-box; 
}
#page1 > .p1_words > p:first-of-type{font-weight: bolder;}
/*#page1 > .p1_words > p:last-of-type{font-style:oblique;}*/

/*  page2  */
#page2{display: block;
    -webkit-transition: .5s;
	        transition: .5s;
}
#page2 > .bg{}
#page2.fadeOut {
    opacity: .5;
	-webkit-transform: translate(0,-100%);
	        transform: translate(0,-100%);
}
#page2 > .p2_bg_loading{z-index: 4;background: #EE9CA7;
      -webkit-animation: p2_circle_outer 2s linear forwards;
              animation: p2_circle_outer 2s linear forwards;
}
@-webkit-keyframes p2_circle_outer {
	0%   {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes p2_circle_outer {
	0%   {opacity: 1;}
	100% {opacity: 0;}
}

/*  page3  */
#page3{display: none;
    -webkit-transition: .5s;
	        transition: .5s;
}
#page3 > .bg{position: absolute;z-index: -2;background:url("../images/p3_bg.png") no-repeat center center;background-size: 100%;}
#page3.fadeIn {
    -webkit-transform: translate(0,-100%);
            transform: translate(0,-100%);
}